{%- set prefix="https://knowledge.c-innovationhub.com/cefriel/data/" -%}
{%- set dcat_content = obj.header -%}
{%- set json_content = obj.content -%}
{%- set asset_name = slugify(dcat_content.name) -%}
{%- set asset_type = dcat_content.type -%}
{%- set asset_id = '<' + prefix + asset_type + '#' + asset_name + '>' -%}
{%- set catalogue_id= '<' + prefix + 'CefrielDataCatalogue#' + asset_type + '>' -%}
{%- set catalogue_record_id = '<' + prefix + 'CefrielDataCatalogueRecord/' + asset_type + '#' + asset_name + '>' -%}
{%- set asset_type_url = data_platform_url + '/assets/' + asset_name -%}
{%- set freq_iri = {
    "Continuously": "http://publications.europa.eu/resource/authority/frequency/UPDATE_CONT",
    "Never (one-time provision)": "http://publications.europa.eu/resource/authority/frequency/NEVER",
    "On occurrence / irregularly": "http://publications.europa.eu/resource/authority/frequency/IRREG",
    "Up to 1min": "https://w3id.org/mobilitydcat-ap/update-frequency/1min",
    "Up to 5min": "https://w3id.org/mobilitydcat-ap/update-frequency/5min",
    "Up to 10 min": "https://w3id.org/mobilitydcat-ap/update-frequency/10min",
    "Up to 15 min": "https://w3id.org/mobilitydcat-ap/update-frequency/15min",
    "Up to 30 min": "https://w3id.org/mobilitydcat-ap/update-frequency/30min",
    "Up to 1h": "http://publications.europa.eu/resource/authority/frequency/HOURLY",
    "Up to 2h": "http://publications.europa.eu/resource/authority/frequency/BIHOURLY",
    "Up to 3h": "http://publications.europa.eu/resource/authority/frequency/TRIHOURLY",
    "Up to 12h": "https://w3id.org/mobilitydcat-ap/update-frequency/12h",
    "Up to 24h": "https://w3id.org/mobilitydcat-ap/update-frequency/24h",
    "Up to Weekly": "http://publications.europa.eu/resource/authority/frequency/WEEKLY",
    "Up to Monthly": "http://publications.europa.eu/resource/authority/frequency/MONTHLY",
    "Up to every 2 months": "http://publications.europa.eu/resource/authority/frequency/BIMONTHLY",
    "Up to every 3 months": "http://publications.europa.eu/resource/authority/frequency/QUARTERLY",
    "Up to every 6 months": "https://w3id.org/mobilitydcat-ap/update-frequency/6-months",
    "Up to Annual": "http://publications.europa.eu/resource/authority/frequency/ANNUAL",
    "Up to Biennial": "http://publications.europa.eu/resource/authority/frequency/BIENNIAL",
    "Up to Triennial": "http://publications.europa.eu/resource/authority/frequency/TRIENNIAL",
    "Up to Quadrennial": "http://publications.europa.eu/resource/authority/frequency/QUADRENNIAL",
    "Up to Quinquennial": "http://publications.europa.eu/resource/authority/frequency/QUINQUENNIAL",
    "Up to Decennial": "http://publications.europa.eu/resource/authority/frequency/DECENNIAL",
    "Up to Bidecennial": "http://publications.europa.eu/resource/authority/frequency/BIDECENNIAL",
    "Up to Tridecennial": "http://publications.europa.eu/resource/authority/frequency/TRIDECENNIAL",
    "Unknown": "http://publications.europa.eu/resource/authority/frequency/UNKNOWN"
  }
-%}

@prefix dct: <http://purl.org/dc/terms/> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix dcat: <https://www.w3.org/ns/dcat#> .
@prefix vcard: <http://www.w3.org/2006/vcard/> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix mobilitydcatap: <https://w3id.org/mobilitydcat-ap#> .
@prefix mdata: <https://w3id.org/mobilitydcat-ap/mobility-data-standard/> .
@prefix mtheme: <https://w3id.org/mobilitydcat-ap/mobility-theme/> .


{{catalogue_id | safe}} rdf:type dcat:Catalog;
	dct:title "Cefriel RDF Metadata Generator for mobilityDCAT-AP";
	dct:description "Cefriel RDF Metadata Generator for mobilityDCAT-AP powered by KCONG"@en;
	dct:publisher [
	    rdf:type foaf:Agent;
	    foaf:name "Mobility Data Publisher";
	    foaf:mbox "no-reply@cefriel.com";
	];
	dct:dataset {{asset_id | safe}};
	dcat:record {{catalogue_record_id | safe}};
	foaf:homepage <https://kcong.cefriel.com/>.


{{catalogue_record_id | safe}} rdf:type dcat:CatalogRecord ;
	dct:modified "{{dcat_content.last_updated}}"^^xsd:dateTime ;
	dct:created "{{dcat_content.creation_time}}"^^xsd:dateTime ;
	foaf:primaryTopic {{asset_id  | safe}} .


{{asset_id | safe}} rdf:type dcat:Dataset;
    dct:identifier """{{dcat_content.identifier}}""";
    dct:title "{{dcat_content.name}}";
    dct:description """{{dcat_content.description}}""";
    {%if dcat_content.publisher_name or dcat_content.publisher_email %}
    dct:publisher [
	    rdf:type foaf:Agent;
      {%if dcat_content.publisher_name %}
	    foaf:name "{{dcat_content.publisher_name}}";
      {%endif%}
      {%if dcat_content.publisher_email %}
	    foaf:mbox "{{dcat_content.publisher_email}}";
      {%endif%}
    ];
    {%endif%}

    {%if json_content.mobility_themes%}
    {% for mtheme in json_content.mobility_themes %}
	  mobilitydcatap:mobilityTheme mtheme:{{mtheme | lower | replace(" ", "-") | replace("," , "")}};
    {% endfor %}
    {%endif%}
    {%if '://' in json_content.spatial_coverage %}
    dcat:spatial <{{json_content.spatial_coverage}}>;
    {%else%}
    dcat:spatial """{{json_content.spatial_coverage}}""";
    {%endif%}
    {%if json_content.spatial_aggregation%}
    dcat:spatialResolutionInMeters """{{json_content.spatial_aggregation}}""";
    {%endif%}

    {%if json_content.temporal_coverage_start or json_content.temporal_coverage_end%}
    dcat:temporal [ a dct:PeriodOfTime;
      {%if json_content.temporal_coverage_start%}
	    dcat:startDate """{{json_content.temporal_coverage_start}}""";
      {%endif%}
      {%if json_content.temporal_coverage_end%}
	    dcat:endDate """{{json_content.temporal_coverage_end}}""";
      {%endif%}
    ];
    {%endif%}

    {%if json_content.temporal_aggregation%}
    dcat:temporalResolution """{{json_content.temporal_aggregation}}""";
    {%endif%}

    {%-if json_content.source_asset.id-%}
    dct:source <{{json_content.source_asset.id}}>;
    {%-endif-%}

    {%- set accrual_periodicity = json_content.accrual_periodicity -%}
    dcat:accrualPeriodicity <{{ freq_iri[accrual_periodicity] }}>.


  {%if json_content.distributions %}
  {%- for distribution in json_content.distributions -%}
  {%- set distribution_id = '<' + prefix + asset_type + '/Distribution#' + asset_name + '-' + loop.index + '>' -%}
  {{asset_id | safe}} dcat:distribution {{distribution_id | safe}} .

  {{distribution_id | safe}} rdf:type dcat:Distribution;
	  mobilitydcatap:mobilityDataStandard mdata:{{distribution.data_schema | lower | replace(" ", "-")}} ;
    {% if '://' in json_content.spatial_coverage %}
    dct:format <{{distribution.format}}>;
    {%else%}
    dct:format "{{distribution.format}}";
    {%endif%}
	  {%-if json_content.data_sample -%}
    {%- for sample in json_content.data_sample -%}
    adms:sample [
      rdf:type dcat:Distribution;
      dcat:downloadURL <{{sample.url}}>;
      {%-if sample.sample_description -%}
      dct:description """{{sample.sample_description}}"""
      {%- endif -%}
    ];
    {%- endfor -%}
	  {%- endif -%}
	dcat:accessURL <{{distribution.access_url}}> .
  {%- endfor -%}
  {%- endif -%}
